<!DOCTYPE html>
<!-- This website template was created by: Luke Demi -->
<html lang="en">

<head>
	<link rel="stylesheet" href="css/finalprojectstyles.css">
	<meta charset="UTF-8">
	<title>State Population Shifts</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
	<div id="container">
		<!-- Use the header area for the website name or logo -->
		<header>
			<a href="home.html"><img src="images/US_Picture.PNG" alt="US_Picture.PNG"></a>
		</header>

		<!-- Use the nav area to add hyperlinks to other pages within the website -->
		<nav>
			<ul>
				<li><a href="home.html">Home Page</a></li>
				<li><a href="moved_in.html">Top Moved to States</a></li>
				<li><a href="moved_out.html">Top Moved out of States</a></li>
				<li><a href="future.html">Future Trends</a></li>
				<li><a href="data.html">Data</a></li>
			</ul>
		</nav>

		<!-- Use the main area to add main content of the webpage -->
		<main>
		</main>

		<!-- Use the footer area to add webpage footer content -->
		<footer>
			&copy; Copyright 2023. All Rights Reserved. <br>
		</footer>
	</div>
</body>

</html>
